<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.office.kq.mapper.QjMapper">
<!--  查找所有请假   -->
<select id="findAll" resultType="com.neusoft.office.kq.po.QjUser" parameterType="com.neusoft.office.kq.po.QjUser">
    SELECT * FROM  KAOQIN limit #{startindex},#{pagesize}
</select>
<insert id="save" parameterType="com.neusoft.office.kq.po.QjUser" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO kaoqin(kaishi,jieshu,leixing,tname,zhuangtai) 
    VALUES (#{kaishi},#{jieshu},#{leixing},#{tname},1)
</insert>
<select id="dbAll" resultType="com.neusoft.office.kq.po.QjUser">
    SELECT * FROM  KAOQIN where zhuangtai =1
</select>
<select id="zjAll" resultType="com.neusoft.office.kq.po.QjUser">
    SELECT * FROM  KAOQIN where zhuangtai = 0
</select>
<select id="update" parameterType="com.neusoft.office.kq.po.QjUser">
	UPDATE KAOQIN SET zhuangtai= 0 where id=#{id}
</select>
<insert id="kzsave" parameterType="com.neusoft.office.kq.po.QjUser" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO kaoqin(kaishi,jieshu,leixing,tname,zhuangtai) 
    VALUES (#{kaishi},#{jieshu},#{leixing},#{tname},2)
</insert>
<select id="jzdbAll" resultType="com.neusoft.office.kq.po.QjUser">
    SELECT * FROM  KAOQIN where zhuangtai =2
</select>
<select id="kzjgAll" resultType="com.neusoft.office.kq.po.QjUser">
    SELECT * FROM  KAOQIN where zhuangtai =3
</select>
<select id="jupdate" parameterType="com.neusoft.office.kq.po.QjUser">
	UPDATE KAOQIN SET zhuangtai= 3 where id=#{id}
</select>
<select id="ktupdate" parameterType="com.neusoft.office.kq.po.QjUser">
	UPDATE KAOQIN SET zhuangtai= 2 where id=#{id}
</select>
<select id="kzbh" parameterType="com.neusoft.office.kq.po.QjUser">
	UPDATE KAOQIN SET zhuangtai= 4 where id=#{id}
</select>
<select id="jzbh" parameterType="com.neusoft.office.kq.po.QjUser">
	UPDATE KAOQIN SET zhuangtai= 5 where id=#{id}
</select>
<select id="jzbhyy" parameterType="com.neusoft.office.kq.po.QjUser">
	UPDATE KAOQIN SET yuanyin =#{yuanyin} where id=#{id}
</select>
</mapper>